body {
  margin: 0px;
}

.photo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.not-my-module {
  float: left;
  width: 500px;
  height: 100vh;
  /* background-color: rgb(203, 239, 255); */
}

